{% extends 'admin/baseAdminProfile.html.twig' %}


{% block contentTitle %}
    <h1>{{ title }}</h1>
    {% for info in app.flashes('info') %}
        <div class="alert alert-success alert-dismissible fade show position-relative" role="alert">
            <strong>{{ info }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-2">
                <a href="{{ path('admin_user_create') }}" class="btn btn-outline-success">Создать админ-пользователя</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-2">
                <h2>Список пользователей</h2>
                {% set count = 0 %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Роль</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            {% set count = count + 1 %}
                            <tr>
                                <th scope="row">{{ count }}</th>
                                <td>{{user.email}}</td>
                                <td>{{user.roles | json_encode }}</td>
                                <td>{{user.LastName}}</td>
                                <td>{{user.FirstName}}</td>
                                <td>{{user.MiddleName}}</td>
                                <td>
                                    <a href="{{ path('admin_user_delete', {id: user.id})}}" type="button" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                                    <a href="{{ path('admin_user_edit', {id: user.id})}}" type="button" class="btn btn-outline-dark"><i class="fas fa-user-edit"></i></a>
                                    <a href="{{ path('admin_user_confirm', {id: user.id})}}" type="button" class="btn btn-outline-success"><i class="fas fa-check"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}