{% extends 'admin/baseAdminProfile.html.twig' %}


{% block contentTitle %}
    <h1>{{ title }}</h1>
    {% for info in app.flashes('info') %}
        <div class="alert alert-success alert-dismissible fade show position-relative" role="alert">
            <strong>{{ info }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-4">
                <h2>Список групп</h2>
                {% set count = 0 %}
                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Группа</th>
                        <th scope="col">Пропуски</th>
                        <th scope="col">Процент посещаемости</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listGroup in listGroups %}
                        {% set count = count + 1 %}
                        <tr>
                            <th scope="row">{{ count }}</th>
                            <td>{{ listGroup.group_name }}</td>
                            <td>
                                {% if listGroup.countMiss == 0 %}
                                    <b class="text-success">{{ listGroup.countMiss }}</b>
                                {% else %}
                                    <b class="text-danger">{{ listGroup.countMiss }}</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if listGroup.count == listGroup.countMiss %}
                                    {% set countP = '0' %}
                                    <b class="text-danger">{{ countP }}%</b>
                                {% elseif listGroup.countMiss == 0 %}
                                    {% set countP = '100' %}
                                    <b class="text-success">{{ countP }}%</b>
                                {% else %}
                                    {% set countP = (100 - listGroup.countMiss/listGroup.count * 100)|round(1, 'floor') %}
                                    {% if countP > 59 %}
                                        <b class="text-success">{{ countP }}%</b>
                                    {% else %}
                                        <b class="text-danger">{{ countP }}%</b>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if listGroup.count >= 1 %}
                                    <a href="{{ path('admin_group_statistics', {id: listGroup.id}) }}" type="button" class="btn btn-outline-dark"><i class="fas fa-eye"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}