{% extends 'admin/baseAdminProfile.html.twig' %}

{% block title %}{{ user.LastName }} {{ user.FirstName }} {{ user.MiddleName }}{% endblock %}

{% block contentTitle %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block content %}
    <div class="row g-1">
        <div class=" col-md-2 py-2" style="width: 15%">
            {% if user.image is null %}
                <img style="width: 100%;" class="card-img-top rounded" src="/public/assets/main/images/avatar-default.svg" alt="Card image">
            {% else %}
                <img style="width: 100%;" class="card-img-top rounded" src="/public/assets/main/images/user/{{ user.image }}" alt="Card image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ user.LastName }} {{ user.FirstName }} {{ user.MiddleName }}</h5>
                <p class="card-text"><b>Email</b>: {{ user.Email }} </p>
            </div>
        </div>
        <div class="col-md-10 py-2 album bg-light">
            <div class="container">
                <div class="row">
                    {% for statistic in statistics %}
                        {% set difference = date(statistic.dateTime|date('Y-m-d H:i:s')).diff(date('now'|date('Y-m-d H:i:s'))) %}
                        <div class="col-md-2">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <p class="card-text text-center">{{ statistic.dateTime|date("d-m-Y") }}</p>
                                    <hr>
                                    <p class="card-text text-center">{{ statistic.operation}}</p>
                                    <p class="card-text text-center">{{ statistic.name_discipline}}</p>
                                    <small class="text-muted">{{ difference|date }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

