{% extends 'main/authorized/profile.html.twig' %}

{% block title %}Статистика студента{% endblock %}

{% block contentTitle %}
    <h1>{{ title }}{{ discipline.name_discipline }}</h1>
{% endblock %}
{% block content %}
    <div class="row g-1">
        <div class=" col-md-2 py-2" style="width: 15%; min-width: 100px;">
            {% if user.image is null %}
                <img style="width: 100%;" class="card-img-top rounded" src="/public/assets/main/images/avatar-default.svg" alt="Card image">
            {% else %}
                <img style="width: 100%;" class="card-img-top rounded" src="/public/assets/main/images/user/{{ user.image }}" alt="Card image">
            {% endif %}
            <div class="card-body">
                <h6 class="card-text">{{ user.LastName }} {{ user.FirstName }} {{ user.MiddleName }}</h6>
                <p class="card-tittle"><b>Email</b>: {{ user.Email }} </p>
            </div>
        </div>
        <div class="col-md-10 py-2 album bg-light">
            <div class="container">
                <div class="row row-coll-md-4">
                    {% for statistic in statistics %}
                        {% set difference = date(statistic.dateTime|date('Y-m-d H:i:s')).diff(date('now'|date('Y-m-d H:i:s'))) %}
                        <div class="col-md-4" style="max-width: 250px;">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <p class="card-text text-center">{{ statistic.dateTime|date("d-m-Y") }}</p>
                                    <hr>
                                    <p class="card-text text-center">{{ statistic.operation}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('delete_visit', {disciplineId :disciplineId, studentId :studentId, id :statistic.id}) }}" type="button" class="btn-sm btn-outline-danger"><i class="fas fa-times"></i></a>
                                        </div>
                                        <small class="text-muted">{{ difference|date }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

