{% extends 'admin/baseAdminProfile.html.twig' %}


{% block contentTitle %}
    <h1>{{ title }}</h1>
    {% for info in app.flashes('info') %}
        <div class="alert alert-success alert-dismissible fade show position-relative" role="alert">
            <strong>{{ info }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-4">
                <h2>Список Преподавателей</h2>
                {% set count = 0 %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for teacher in teachers %}
                            {% set count = count + 1 %}
                            <tr>
                                <th scope="row">{{ count }}</th>
                                <td>{{ teacher.teacher.lastName }}</td>
                                <td>{{ teacher.teacher.firstName }}</td>
                                <td>{{ teacher.teacher.middleName }}</td>
                                <td>
                                    <a href="{{ path('admin_teacher_delete', {id: teacher.id})}}" type="button" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                                    <a href="{{ path('admin_teacher_discipline', {id: teacher.id})}}" type="button" class="btn btn-outline-dark"><i class="fas fa-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}